<h2 style="margin-left: 25px">Thoughts about the universe here</h2>

<div style="margin-left: 40px">
    <mat-form-field appearance="fill" style="width:400px">
      <mat-label>Select Entity</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
 
    <mat-form-field appearance="fill" style="width:400px">
      <mat-label>Enter Message Here</mat-label>
      <textarea matInput style=" height: 200px"></textarea>
    </mat-form-field>
  </div>
