<h2 style="margin-left: 25px">Thoughts about the universe here</h2>

<div style="margin-left: 40px">
    <mat-form-field appearance="fill" style="width:400px">
      <mat-label>Select Entity</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    
    <br>
 
    <mat-form-field appearance="fill" style="width:400px">
      <mat-label>Enter Message Here</mat-label>
      <textarea matInput style=" height: 200px"
      [(ngModel)]="messages_recorded">
      </textarea>
    </mat-form-field>    

    <div>{{messages_recorded}}</div>

    <br>
    <button mat-raised-button 
    id = "submit"
    style="background-color:#1e546d; color:#ffffff"
    (click)="
      msgService.postMessage(messages_recorded); 
      messages_recorded=null">
    Submit
    </button>

    <div *ngIf="msgService.showSuccessMessage">
      <h3>Message Received</h3>
    </div>
  </div>


