<div style="margin-left:100px">

<h2>Please submit your messages here</h2>

<div style="margin-left: 14px">
    <mat-form-field appearance="fill" style="width:400px">
      <mat-label>Select Entity</mat-label>
      <mat-select>
        <mat-option value="option"></mat-option>
        <mat-option value="option">Continent</mat-option>
        <mat-option value="option">Ocean</mat-option>
        <mat-option value="option">Planet</mat-option>
        <mat-option value="option">Solar System</mat-option>
        <mat-option value="option">Galaxy</mat-option>
      </mat-select>
    </mat-form-field>
    
    <br>
 
    <mat-form-field appearance="fill" style="width:400px">
      <mat-label>Enter Message Here</mat-label>
      <textarea matInput style=" height: 200px"
      [(ngModel)]="messages_recorded">
      </textarea>
    </mat-form-field>    

    <br>
    <button mat-raised-button 
    id = "submit"
    style="background-color:#1e546d; color:#ffffff"
    (click)="
      msgService.postMessage(messages_recorded); 
      messages_recorded=null">
    Submit
    </button>

    <div *ngIf="msgService.showSuccessMessage">
      <h4>Message Received: {{msgService.id}}</h4>
    </div>
  </div>
 </div>

